<div class="body">
    <div class="container">
        <h3>Digital Clock</h3>
        <div class="clock">
            <div>
                <span id="hours">{{h}}</span>
                <span class="text"> Hours</span>
            </div>
            <div>
                <span id="minutes">{{m}}</span>
                <span class="text"> Minutes</span>
            </div>
            <div>
                <span id="seconds">{{s}}</span>
                <span class="text"> Seconds</span>
            </div>
            <div>
                <span id="ampm">{{ampm}}</span>
            </div>
        </div>
    </div>
</div>