<div class="body">
    <h2 class="fw-bold text-center"> Random Color Generator </h2>

    <div class="container">
        <!-- <div *ngFor="let ele of colorContainers">
            <div class="color-container">{{ele}}</div>
        </div> -->

        <!-- <div [className]="'color-container'"></div> -->

        <!-- <div class="color-container">#7652a6</div>
        <div class="color-container">#7652a6</div>
        <div class="color-container">#7652a6</div>
        <div class="color-container">#7652a6</div>
        <div class="color-container">#7652a6</div>
        <div class="color-container">#7652a6</div>
        <div class="color-container">#7652a6</div> -->
    </div>
</div>