.body {
    margin: 0;
    font-family: sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

    .container {
        background-color: aliceblue;
        height: 70%;
        width: 50%;
        border: 1px solid black;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
        border-radius: 10px;
        margin: 10px;
    }

    .input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size: 25px;
        text-align: center;
        padding: 10px;
        border: solid 2px green;
        color: green;
    }

    .input::placeholder {
        color: lightgrey;
        font-family: cursive;
    }

    .clear {
        margin-left: 30px;
        font-size: 20px;
    }

    .sub-btn {
        background-color: green;
        margin: 20px 0;
        padding: 10px;
        color: white;
        border: none;
        width: 100%;
        display: block;
        font-size: 20px;
        font-family: cursive;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
        cursor: pointer;
    }

    .sub-btn:hover {
        filter: brightness(0.9);
    }

    .score {
        color: green;
        // text-align: right;
        font-weight: bold
    }

    .btn{
        width: 30%;
        
    }
}