.body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(199, 198, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

    .container {
        background-color: rgb(224, 238, 250);
        height: 100%;
        width: 50%;
        padding: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
        border-radius: 10px;
        margin: 10px;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        button {
            margin: 10px;
            width: 50%;
            font-size: 20px;
            padding: 5px;
        }
    }

}