<div class="body">
    <div class="container">
        <h1 class="text-success fw-bold pb-3">Web Development Projects</h1>
        <button class="btn btn-warning" (click)="clock()">Digital Clock</button>
        <button class="btn btn-danger" (click)="kidsGame()">Game for Kids</button>
        <button class="btn btn-primary" (click)="calculation()">Calculation app for kids</button>
        <button class="btn btn-secondary" (click)="charCounter()">Charector Counter</button>
        <!-- <button class="btn btn-info" (click)="randomColor()">Random Color Generator</button> -->
        <button class="btn btn-info" (click)="calculator()">Calculator</button>
    </div>
</div>